astroid==1.4.9
ceph==1.0.0
cephfs==2.0.0
cycler==0.11.0
isort==4.2.5
kiwisolver==1.3.1
lazy-object-proxy==1.2.2
matplotlib==3.3.4
mccabe==0.6.1
numpy==1.19.5
pandas==1.1.5
pexpect==4.8.0
Pillow==8.4.0
prettytable==0.7.2
ptyprocess==0.5.1
pylint==1.6.5
pyparsing==3.1.1
python-dateutil==2.9.0.post0
pytz==2024.1
rados==2.0.0
rbd==2.0.0
rgw==2.0.0
ROOT==6.24.8
scipy==1.5.4
six==1.14.0
uproot==4.3.7
virtualenv==15.1.0
wrapt==1.10.4
